<form #loginForm="ngForm" class="form-signin" (ngSubmit)="login(loginForm)">
    <h2 class="form-signin-heading">Log in</h2>

    <div class="form-group">
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input 
	    	type="email" 
	    	id="inputEmail" 
	    	class="form-control" 
	    	placeholder="Email address" 
	    	name="email"
	    	#email="ngModel"
	    	[(ngModel)]="user.email"
	    	required>
    	<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                Email is required.
            </div>  
        </div>
	</div>

	<div class="form-group">
	    <label for="inputPassword" class="sr-only">Password</label>
	    <input 
	    	type="password" 
	    	id="inputPassword" 
	    	class="form-control" 
	    	placeholder="Password" 
	    	name="password"
	    	#password="ngModel"
	    	[(ngModel)]="user.password"
	    	required>
    	<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
                Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
                Password must be at least 8 characters long and contain at least one digit.
            </div>
        </div>
	</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>